<section>
    <form [formGroup]="form" (ngSubmit)="addCourse()">
        <p>
            <label>Title:</label>
            <input type="text" formControlName="title" />
        </p>
        <p>
            <label>Description:</label>
            <textarea formControlName="content"></textarea>
        </p>
        <p>
            <label>Date:</label>
            <input type="date" formControlName="creationDate" />
        </p>
        <p>
            <label>Duration: {{ filmDuration | duration}}</label>
            <input type="number" formControlName="duration" />
        </p>
        <p>
            <label>Authors:</label>
            <input type="text" formControlName="authors" />
        </p>
        <button class="blue large" type="submit">Save</button>
        <button class="green large" (click)="closeDialog()">Cancel</button>
    </form>
</section>