p {
  display: grid;
}

label {
  font-size: 0.85em;
}

input {
  width: 40vw;
}

textarea {
  height: 15vh;
}

.has-error { 
  input, textarea {
    border: 2px solid red;
  }
}

button[type="submit"]:disabled {
  background: #dddddd;
}
