<div class="course-item">
    <mat-card>
        <div>
            <mat-card-title>Video Course number. Name tag
                <mat-card-subtitle class="right">Something somethihg</mat-card-subtitle>
            </mat-card-title>
        </div>
        <div style="display: flex;">
            <mat-card-content>Lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor
                lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum
                dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem </mat-card-content>
            <span class="card-buttons">
                <button class="small blue">Edit</button>
                <button class="small blue">Delete</button>
            </span>
        </div>
    </mat-card>
</div>