<header>
    <div class="nav-container">
        <span class="nav-logo">
            <!-- ICON -->
            <span>VIDEO COURSE</span>
        </span>
        <span *ngIf="user" class="nav-links">
            <fa-icon [icon]="faUser"></fa-icon>
            <span>
                Welcome, {{user$.firstName | async }}!
            </span>
            <a [routerLink]="['/login']" (click)="logout()">
                <fa-icon [icon]="faWindowClose"></fa-icon>
                <span>
                    Log off
                </span>
            </a>
        </span>
    </div>
</header>