header {
  background-color: rgb(47, 51, 63);
  color: white;
  display: flex;
  height: 5em;
  width: 100vw;
  div {
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    .nav-logo {
      font-weight: bold;
      span {
      }
    }
    .nav-links {
    }
  }
}
