<header>
    <div class="nav-container">
        <span class="nav-logo">
            <!-- ICON -->
            <span>VIDEO COURSE</span>
        </span>
        <span *ngIf="isAuthenticated !== false" class="nav-links">
            <a (click)="logout()">
                <fa-icon [icon]="faUser"></fa-icon>
                User login
            </a>
            <a [routerLink]="['/login']" (click)="logout()">
                <fa-icon [icon]="faWindowClose"></fa-icon>
                Log off
            </a>
        </span>
    </div>
</header>