/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-color: rgb(245, 246, 250);
  margin: 0 auto;
}

/// Constant for width across application.
div {
  max-width: 850px;
  margin: auto;
}

.right {
  float: right;
}

// _variables
$blue_accent: rgb(0, 161, 202);
$green_accent: rgb(106, 161, 35);

// _components
.blue {
  background-color: $blue_accent;
}
.green {
  background-color: $green_accent;
}
// _elements
button {
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  padding: 20px;
}
