/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-color: rgb(245, 246, 250);
  margin: 0 auto;
}

/// Constant for width across application.
div {
  max-width: 850px;
  margin: auto;
}

.right {
  float: right;
}

// _VARIABLES
// -- colors
$blue_accent: rgb(33, 184, 219);
$green_accent: rgb(158, 198, 71);
// $blue_accent: rgb(0, 161, 202);
// $green_accent: rgb(106, 161, 35);
// -- sizes
$border_radius: 0.25em;
$base_font: 0.75em;
$small_font: 0.5em;

// _COMPONENTS
.blue {
  background-color: $blue_accent;
}
.green {
  background-color: $green_accent;
}
// _ELEMENTS
button {
  border: none;
  border-radius: $border_radius;
  color: white;
  &.small {
    font-size: $small_font;
    padding: 5px;
  }
  &.large {
    font-size: $base_font;
    padding: 1em 1.5em;
  }
}

input {
  border: 1px solid lightgrey;
  border-radius: $border_radius;
  font-size: $base_font;
  margin-right: 1em;
  padding: 1em;
  width: 30%;
  &::placeholder {
    color: #bbb;
  }
}
