footer {
  background-color: rgb(47, 51, 63);
  color: white;
  display: flex;
  font-size: 0.75em;
  height: 5em;
  left: 0;
  width: 100vw;
  margin-top: 5vh;
  div {
    text-align: right;
    width: 100%;
  }
}
