<div>
    <section class="cta-section">
        <input class="" type="text" placeholder="Type to search">
        <button class="green large">Search</button>
    </section>
    <section>
        <button class="blue large right">
            <fa-icon [icon]="faPlusSquare"></fa-icon> Add course
        </button>
    </section>
    <br />
    <app-course-item *ngFor="let course of courses" [item]="course"></app-course-item>
    <mat-card class="load-more-button" (click)="loadMore()">Load More</mat-card>
</div>
