<section>
    <app-breadcrumbs></app-breadcrumbs>
</section>
<div>
    <section class="cta-section">
        <input type="text" (keyup)="filterChange($event.target.value)" placeholder="Type to search">
    </section>
    <section>
        <button class="blue large right" routerLink="/courses/new">
            <fa-icon [icon]="faPlusSquare"></fa-icon> Add course
        </button>
    </section>
    <br />
    <mat-progress-spinner *ngIf="loading"></mat-progress-spinner>
    <app-course-item (removeCourse)="onDeleteCourseNode($event)" (updateCourse)="updateCourseNode($event)"
        *ngFor="let course of courses$ | async" [item]="course">
    </app-course-item>
    <mat-card (click)="loadMore()">
        Load More
    </mat-card>
    <mat-card *ngIf="courses?.length === 0 | async">
        NO DATA. FEEL FREE TO ENTER A NEW COURSE.
    </mat-card>
</div>